*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: red;
}
html, body {

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
        width: 400px;
    height: 500px;
    // border: 2px solid black;
    background-color: #181818;
    color: #fcfcfc;
}
.todo-main-container {
       
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  .header{
    .short-header{
        width: 100%;
        align-items: center;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .shortcuts{
            .shortcut-input-div{
                  display: none;
  flex-direction: column;
                // display: none !important;
                background-color: #181818;
                position: absolute;
                border-radius: 0px;
                width: 100%;
                gap: 10px;
        // display: flex;
        justify-content: space-between;

        input{
            transition: border .2s ease;
            color: white;
            background: #181818;
            // width: 100%;
            flex:1;
            height: 30px;
            padding: 5px;
            border: none;
           
            // border-bottom: 1px solid #494949;
            // border-radius: 5px;
            &:focus{
                outline: none;
                // border-bottom: 1px solid #e0e0e0;
            }
        }
        #addShortcutBtn{
               width: 60px;
            height: 30px;
            padding: 5px 10px;
            background-color: #494949;
            color: #fcfcfc;
            border: none;
            cursor: pointer;
            transition: all .2s ease;
            &:hover{
                background-color: #e0e0e0;
                color: #181818;
            }
        }
    }
            display: flex;
            // flex-direction: row-reverse;
            align-items:center ;
      overflow-x: auto; 
  max-width: 100%;
   
  display: flex;
  gap: 10px;
 
padding:10px 5px 20px 5px ;

  &::-webkit-scrollbar {
    height: 8px;
    background: #222;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
    border: 2px solid #222;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }


  scrollbar-color: #444 #222;
  scrollbar-width: thin;




           div{
             flex: 0 0 auto;
            cursor: pointer;
            padding: 5px;
            border-radius: 100px;
            box-shadow: inset 0 0 0 1px #494949;
            img{
                filter: invert(100%);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
             width: 40px;
            height: 40px;
            // background-color: red;
           }
        }
    }
    // margin-bottom: 10px;
    padding-bottom: 10px;

    background-color: #181818;
    z-index: 10;
    top: 0;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .input-div{
                width: 100%;
                gap: 10px;
        display: flex;
        justify-content: space-between;

        input{
            transition: border .2s ease;
            color: white;
            background: transparent;
            // width: 100%;
            flex:1;
            height: 30px;
            padding: 5px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #494949;
            // border-radius: 5px;
            &:focus{
                outline: none;
                border-bottom: 1px solid #e0e0e0;
            }
        }
        #addBtn{
               width: 60px;
            height: 30px;
            padding: 5px 10px;
            background-color: #494949;
            color: #fcfcfc;
            border: none;
            cursor: pointer;
            transition: all .2s ease;
            &:hover{
                background-color: #e0e0e0;
                color: #181818;
            }
        }
    }
  }
  /* align-items: center; */
  /* text-align: center; */
  /* gap: 5px; */
  .taskList{
      &::-webkit-scrollbar {
    display: none;
  }
  
  scrollbar-width: none;

    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    max-height: fit-content; 
    overflow-y: auto;
    .task{

        align-items: center;
        // padding: 5px;
        position: relative;
 
        // border: #ffffff 1px solid;
        // display: flex;
        // justify-content: space-between;
        // width: 100%;
        .btn-group{
            display:flex;
            gap: 10px;
        }
        p{
            display: flex;
            // justify-content: center;
            align-items: baseline;
            gap: 5px;
            font-size: .8rem;
            // flex: 1;
            
        }
        gap: 10px;
        // align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
        // flex-direction: row;
        .deleteBtn, .doneBtn{
            width: 60px;
            height: 30px;
            padding: 5px 10px;
            background-color: #494949;
            color: #fcfcfc;
            border: none;
            cursor: pointer;
            transition: all .2s ease;
            &:hover{
                background-color: #e0e0e0;
                color: #181818;
            }
        }
        .deleteBtn{
            background-color: #631717;
            &:hover{
                background-color:#cf0a0a ;
                // color: #631717;
                color: #fefefe;
            }
        }
    }
  }
}
.shortcut-input-div.active {
  display: flex;
}